/* width */
::-webkit-scrollbar {
    width: 5px;
    color: #ff5f15;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff5f15;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }